body {
font-family: sans-serif;
}

h1 {
font-family: fantasy;
color: purple;
font-size: 30px;
}

ul {
list-style-type: none;
}

ol {
font-weight: bold;
}

li {
color: rebeccapurple;
background-color: thistle;
text-align: center;
border: 1px solid purple;
border-radius: 10px;
padding-left: 30px;
}

img {
height: 200px;
display: block;
}

h3 {
text-decoration: underline;
}

p {
padding-top: 20px;
padding-bottom: 20px;
}